    .principal {
        color: #2d1b14;
        font-family: 'Neucha', cursive;
        font-size: 50px;
        font-weight: bolder;
        text-align: left;
        position:absolute;
        left:35%;
        bottom: 40%;
        word-spacing: 10px;
        text-shadow: 0 1px 0 #633727, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    }

    header {
        color: #2d1b14;
        font-family: 'Neucha', cursive;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 1px 0 #633727, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);

    }

    .texto {
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        left: 20%;
        top: 27%;
        font-size: 20px;

    }

    #button_cifrado, #button_cuerdas {
        color: #633727;
        font-family: 'Neucha', cursive;
        font-weight: bold;
        text-shadow: 2px 2px 2px #ccc;
        border: none;
        background: #f1a519;
        font-size: 60px;
        box-shadow: 0 9px #633727;
        width: 70%;
        margin-top: 30px;
        position: relative;
        top: 80%;
        right: -15%;
        cursor: pointer;
        border-radius: 15px;
    }

    #button_cifrado:hover, #button_cuerdas:hover {
        background-color: #cb8b15;
    }

    #button_cifrado:active, #button_cuerdas:active {
        background-color: #cb8b15;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    #guitarra {
        max-width: 45%;
        height: auto;
        filter: drop-shadow(15px 15px 8px #633727);
        position: absolute;
        left: 3%;
        top: 2%;


    }

    body {
        background-image: url("Imagenes/hoja.png");
        margin: 15px 15px 15px 15px;
        background-color: #eabe8b;
    }

    #button_intro {
        color: #2d1b14;
        font-family: 'Neucha', cursive;
        font-weight: bold;
        font-size: 50px;
        text-shadow: 2px 2px 2px #ccc;
        border: transparent;
        background: transparent;
        position: absolute;
        top: 55%;
        right: 17%;

    }

    #button_simulador {
        color: #2d1b14;
        font-family: 'Neucha', cursive;
        font-weight: bold;
        font-size: 60px;
        text-shadow: 2px 2px 2px #ccc;
        border: transparent;
        background: transparent;
        position: absolute;
        top: 70%;
        right: 40%;
    }

    #button_simulador:hover, #button_intro:hover {
        color: #cb8b15;
    }

    .play {
        max-width: 50px;
        filter: drop-shadow(5px 5px 2px #633727);

    }

    #button_intro:active, #button_simulador:active, #play {
        transform: translateY(4px);
    }

    #home {
        max-width: 50px;
        height: auto;
        filter: drop-shadow(0px 3px #633727);
        margin: 10px 10px 10px 10px;
        position: absolute;
        right: 15px;
        bottom: 15px;
        cursor: pointer;
    }
    #home2 {
        max-width: 50px;
        height: auto;
        filter: drop-shadow(0px 3px #633727);
        margin: 10px 10px 10px 10px;
        position: absolute;
        right: 15px;
        top: 20px;
        cursor: pointer;
    }

    #back {
        max-width: 50px;
        height: auto;
        filter: drop-shadow(0px 3px #633727);
        margin: 10px 10px 10px 10px;
        position: absolute;
        right: 90px;
        bottom: 15px;
        cursor: pointer;
    }


    #formulario {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 25px;
        margin-top: -1%;
    }

    #opciones, #notamusical {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-style: italic;
    }

    #instruccion {
        font-size: 15px;
    }

    #play_button {
        color: white;
        font-family: 'Neucha', cursive;
        text-shadow: 1px 1px 1px #633727;
        border: none;
        background: #f1a519;
        font-size: 40px;
        margin-top: -5%;
        box-shadow: 0 7px #633727;
        cursor: pointer;
        border-radius: 10px;

    }

    #tabla, .tr, .td, .th, .td2 {
        color: #2d1b14;
        border: 3px solid #633727;
        border-collapse: collapse;
        text-align: center;
        font-size: 27px;
        font-family: 'Open Sans', sans-serif;
        padding: 10px;

    }

    .tabla_cifrado {
        position: absolute;
        top: 40%;
        left: 27%;
        box-shadow: 3px 3px 5px #2d1b14;

    }

    .th {
        font-family: 'Neucha', cursive;
        text-shadow: 1px 1px 2px #633727;
        background-color: #f1a519;
        letter-spacing: 3px;
    }

    .td2 {
        text-shadow: 1px 1px 2px #633727;
    }

    .animacion {
        position: absolute;
        top: 31%;
        right: 23%;
        max-width: 250px;
        box-shadow: 4px 4px 8px #2d1b14;
    }

    #play_button:hover {
        background-color: #cb8b15;
    }

    #play_button:active {
        background-color: #cb8b15;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    #home:active, #back:active, #home2:active {
        filter: drop-shadow(0 3px #000000);
        transform: translateY(4px);
    }

    #caption {
        font-size: 12px;
        font-style: italic;
        font-family: 'Open Sans', sans-serif;
        color: #2d1b14;
    }
    .foot {
        position: absolute;
        bottom:2%;
        left: 1%;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 12px;
    }
    #f2 {
        position: absolute;
        bottom:2%;
        right: 1%;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 12px;
    }

    #graf_guitarra {

        background-image:url("Imagenes/madera2.jpg");
        width:100%;
        height:200px;
        box-shadow:4px 4px 8px #2d1b14;

    }
    .notas {
        position: absolute;
        display: none;
        font-family: 'Neucha', cursive;
        margin-left: 5px;
        margin-top: -4%;
        font-size: 30px;
    }

    #reset_button {
        border: none;
        background: transparent;
        font-size: 20px;
        font-family: 'Neucha', cursive;
        filter: drop-shadow(0 1px #000000);
    }
    #reset_button:active{
        filter: drop-shadow(0 1.5px #000000);
        transform: translateY(2px);
    }